In [14]:
# exercise 1.3
colour1 = 'blue'
colour2 = 'yellow'
swap = colour1 
colour1 = colour2 
colour2 = swap
print ("colour1", colour1)
print ("colour2", colour2)

colour1 yellow
colour2 blue

In [16]:
# exercise 2.3
value_1 = 6
value_2 = 9
value_3 =6
average = (value_1 + value_2 + value_3) /3
print(average)

7.0

In [2]:
# exercise 2.4
# variables
days = 7
hours_per_day = 24
minutes_per_hour = 60
seconds_per_minute = 60

# calculation
total_seconds = days * hours_per_day * minutes_per_hour * seconds_per_minute

# results
print(f"seven days last {total_seconds} seconds.")

seven days last 604800 seconds.

In [4]:
# exercise 2.7
# variables
nr_weeks = 4
# calculation
print( f"Number of days in 4 weeks: {nr_weeks*7}" )

Number of days in 4 weeks: 28

In [6]:
# exercise 3.1
year = 1879
print(f"Albert Einstein was born in {year}")

Albert Einstein was born in 1879

In [12]:
#exercise 3.4
first = 'Vladimir'
last = 'Nabokov'
full_name = first + " " + last
print(full_name)

Vladimir Nabokov